// theme colors
$dark-brown: #3c2818;
$medium-brown: #8d6b51;

// background images
$white-paper: url(../img/lightWhiteBG.png);
$brown-paper: url(../img/brownPaperBG.jpg);

// fonts
$young-serif: "Young Serif", serif;
$special-elite: "Special Elite", monospace;