// importing other scss sheets
@import "variables";
@import "mixins";


// importing fonts
@font-face {
    font-family: "Special Elite";
    src: url(../fonts/SpecialElite.ttf);
}

@font-face {
    font-family: "Young Serif";
    src: url(../fonts/YoungSerif-Regular.ttf);
}


// for screens smaller than 500px
@media screen and (max-width: 500px) {
    // @include smallScreens;
    @include screenStyling("small");
}

// for screens wider than 500px
@media screen and (min-width: 500px) {
    @include screenStyling("medium");
}

// for screens wider than 900px
@media screen and (min-width: 945px) {
    @include screenStyling("large");
}


// styling for all screen sizes
body {
    margin: 0px;
    background-image: $white-paper;
    background-size: 100%;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    width: 100%;
    background-image: $brown-paper;
    background-size: 100%;
    align-content: center;
}

nav {
    background-color: $dark-brown;
    color: white;
    padding: 1vw;
}

img.right {
    width: 30vw;
    float: right;
    margin: 5vw 0 3vw 3vw;
}

img.left {
    width: 30vw;
    float: left;
    margin: 5vw 3vw 3vw 0;
}

#personal {
    margin-bottom: 13vw;
}

footer {
    // grid-column: 1 / -1;
    background-image: $brown-paper;
    background-size: 100%;

    text-align: center;
    color: white !important;
}

// text styling
@include textStyling;